
<p>
  it is testing phase i wonder if you can send me email templates you want 
</p>

<p>To get started using AJE App, please visit our website</p>

<p>
  Enter the market to see goods and services, bargain for convinent prices and make payment in your preferred currency all in just one click. We help you connect with potential customers who are around you and ready to pay for goods or services. Connect by adding a post of your trade. This Product lets you own a wallet with which you can make and receive payments. Our wallet helps you convert payments to and from your local currency.
</p>

