<p>Hey <%= name %>,</p>
<p>
  Thanks for signing up for AJE App. We're very excited to have you on board.
</p>

<p>To get started using AJE App, please visit our website</p>
<p>
  <a href="<%= https://ajeinc.app/ %>">click here to see what aje website look like</a>
</p>

<p>
  Enter the market to see goods and services, bargain for convinent prices and make payment in your preferred currency all in just one click. We help you connect with potential customers who are around you and ready to pay for goods or services. Connect by adding a post of your trade. This Product lets you own a wallet with which you can make and receive payments. Our wallet helps you convert payments to and from your local currency.
</p>

<a href="<%= confirmation_url %>"><%= confirmation_url %></a>
